# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

*.ilk
*.pdb
*.log
*.tlog
*.lastbuildstate
*.idb
*.opensdf
*.sdf
*.orig
*.suo
*.user
*.old
